/* Definindo estilos globais para a aplicação */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%; /* para que a aplicação tenha 100% do tamanho da tela */
}

body{
    background-color: #f5f5f5; /* define a cor de fundo */
}

body, input, button{
    font-family: Arial, Helvetica, sans-serif; /* define a fonte destes componentes */
}
